@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-fonts {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
  }


  .back-color{
    background: linear-gradient(
180deg,
rgb(19, 19, 19) 0%,
rgba(5, 2, 2, 0.849) 50%,
rgb(1, 1, 1) 100%
);
}

.back-colour02{
    background: black;
}

.main{
    max-width: 1500px;
    margin: 0px auto;
    align-items: center;
    padding: 2px;
}

.name{
    color: rgba(230, 83, 60, 1);
    ;
   font-weight: bold;
   font-size: 3rem;
   font-style: italic;
}
.nav-list{
    justify-content: space-around;
    align-items: center;
    
    border: 1px solid gray;
    border-radius: 20px;
    

}
.navbar{
    max-width: 1500px;
    margin: 0px auto;
    align-items: center;
   
}

/* shared styles */
.display-flex{
    display: flex;
    justify-content: space-between;
    
}
.text-color{
    color: azure;
    
}


/* nav related styles */
.home-color{
    background-color:rgba(230, 83, 60, 1) ;
       
       padding: 15px;
       border-radius: 20px;
   }
   .nav-item{
       list-style: none;
       margin-right: 40px;
       padding-left: 1px;
       padding-top: 8px;
       padding-bottom: 8px;
   }
   .nav-link{
   text-decoration: none;
   font-weight: 500;
   margin: 0;
   padding:0 10px;
   
   
   }
   /* Banner related style*/
   .banner-title{
      
      margin-right: 10px;
      font-size: bolder;
      font-weight: 900;
   }
    .miama{
       font-family: miama,sans-serif;
   font-style: italic;
   font-size: larger;
   font-weight: 900;
    }
   
   .banner{
   
      
   }
   .btn-color{
    background-color: rgba(230, 83, 60, 1);
    font-size: medium;
    font-weight: 500;
    color: azure;
    
    border-radius: 20px;
   }
   .btn-flex{
    display: flex ;
  
   } 
   .btn-design{
       background-color: rgba(0, 0, 0, 0.607);
       font-size: medium;
       font-weight: 500;
       color: azure;
       padding: 5px;
       border-radius: 20px;
   }
   
   .btn-img{
       position: relative;
       left: 250px;
   }
   .banner-content{
       padding-right: 660px;
   }
   .banner{
       display: flex;
       align-items: center;
       max-width: 1550px;
       margin: 0 auto;
   }
   /* card-1 design*/
      .extra{
       position: relative;
       right: 150px;
       
       top: 200px;
       display: flex;
       align-items: center;
       backdrop-filter: blur(20px);
      width: 190px;
      height: 85px;
      padding: 10px;
       border-radius: 20px;
       background-color:rgba(255, 255, 255, 0.1) ;
      }

      

      .card-1{
   
        box-shadow: 0 4px 8px 0 rgb(0,0,0,0,2);
       transform: 0,3s;
       color: aliceblue;
     }
     .card:hover{
         box-shadow: 0 8px 16px 0 rgb(0,0,0,0,2);
     
     }
      .container-1{
         width: 200px;
         height: 96px;
         padding: 2px 16px;
         border-radius: 1px;
      }
     
      /* card-2 design*/
     
     .extra-2{
     position: relative;
     bottom: 195px;
     left: 25px;
     backdrop-filter: blur(20px);
     max-width: 150px;
     padding: 5px;
     border-radius: 20px;
     background-color:rgba(255, 255, 255, 0.1) ;
     }
     .card-2{
         box-shadow: 0 4px 8px 0 rgb(0,0,0,0,2);
         transform: 0,3s;
         color: aliceblue;
     }
         .card:hover{
             box-shadow: 0 8px 16px 0 rgb(0,0,0,0,2);
         }
         
         .container-2{
             padding: 2px 16px;
         }
     
/* habit section design*/
         .more{
            max-width: 2000px ; 
            margin: 0 auto;
            background-color: black;
            
        }
        
        .habits{
           
            text-align: center;
            width: 1600px;
            position: relative;
            left: 100px;
            display: flex;
            justify-content: space-evenly;
        }
            .habit-des{
            
            color: aliceblue;
            margin: 0 auto;
           
            }
            
        
            .font-color{
               color: rgba(255, 255, 255, 0.5);
               ;
            }
        
            /* Rounded PHoto Design*/
        
            
            .img-design{
                border-radius: 50%;
                border: 5px solid rgba(128, 128, 128, 0.413);
            }
            .rounded-img{
                display: flex;
                justify-content: space-around;
                margin: 100px 20px;
            }


             /*Run Extra mile design*/
    .btn-ex-design{
        background-color: rgba(230, 83, 60, 1);
        font-size: medium;
        font-weight: 500;
        color: azure;
        padding: 20px 50px;
        
        border-radius: 25px;
           }
           .heading-color{
               color: aliceblue;
               font-size: 30px;
           }
           .run-des{
               margin: 50px;
             
       
           }
          
           .img-border{
               max-width: 400px;
               border-radius: 20px;
               margin: 50px;
           }
           .run-extra-mile{
               margin: 0 auto;
               max-width: 1170px;
               align-items: center;
               background-color: rgba(128, 128, 128, 0.448);
               border-radius: 20px;
              
           }

           .bmi-calculator{
            margin: 100px 0;
            }
            .head-font{
                font-size: bolder;
                font-weight: 900;
            }
            .calculator-des{
                text-align: center;
            }
        
            /* BMI chart*/
              .text-clr{
                color: aliceblue;
              }
           
            .bmi-main-part{
               padding: 90px;
                background-color: rgba(128, 128, 128, 0.349);
               display: flex;
               justify-content: space-between;
              
            
               
            }
            .bmi-chart{
                width: 1000px;
                margin: auto;
                
                
            }

            .bmi-calc-form2{
                background-color: rgba(255, 255, 255, 0.1);
              width: 300px;
              height: 40px;
              border-radius: 15px;
              padding: 10px;
              color: aliceblue;
              font-size: 20px;
            }
            .grid{
                display: grid ;
                grid-template-columns: repeat(2, 0fr);
               grid-template-rows: repeat(1, 1fr);
               column-gap: 5px;
               row-gap: 5px;
            }

            .bmi-calc-form{
                width: 900px;
                
                color:white;
                border-radius: 20px;
                font-size: 30px;
                font-weight: 300;
                margin-top: 25px;
               
            }
            .bmi-head{
                font-size: 40px;
                font-weight: bolder;
                color: aliceblue;
            }
            .heading-dsgn4{
                font-size: 25px;
                text-align: center;
                color: aliceblue;
            }

            .heading-dsgn{
                font-size: 35px;
                text-align: center;
                color: aliceblue;
            }
            .bmi-h3{
                position: relative;
                left: 0;
                font-weight: 900;
                
            }
            .content-table{
                padding: 10px 10px;
                border-collapse: collapse;
            }
            .btn-extra-design{
                background-color: rgba(230, 83, 60, 1);
                font-size: medium;
                font-weight: 500;
                color: azure;
                border-radius: 20px;
                padding: 10px 10px;
                margin: 10px;
            }
           .padding{
            padding:10px 10px ;
           }
           .bmi-calc{
            max-width: 450px;
           }

           .bmi-tab{
            width: 340px;
            height: 200px;
            
            position: relative;
            bottom: 0px;
           
            border: 1px solid gray;
            border-collapse: collapse;
           }

           table,th,td{
            width: 600px;
            margin: auto;
            font-size: 20px;
            padding: 20px;
            text-align: center;
            border: 2px solid rgba(128, 128, 128, 0.781);
           }

           .meet{
            text-align: center;
        }
          .meet-des{
            text-align: center;
          }
        
          /* trainer intro related design*/
        
          .grid-photo{
            width: 1150px;
            height: 750px;
            margin: auto;
            background-color: rgba(128, 128, 128, 0.431); ;
            border-radius: 20px;
            padding: 40px;
           
        }

        .container-photo{
       width: 350px;
       height: auto;
      
       
      
        }
        .grid-photo2{
            position: relative;
            left: 400px;
            bottom: 382px;
        }
        
        .grid-photo3{
            position: relative;
            left: 400px;
            bottom: 382px;
        }

        .grid-photo4{
            position: relative;
            right: 400px;
            bottom: 450px;
        }

        .grid-photo5{
            position: relative;
            right: 2px;
            bottom: 828px;
        }

        .grid-photo6{
            position: relative;
            left: 400px;
            bottom: 382px;
        }

        .text-relative1{
            position: relative;
            top: 300px;
            right: 120px;
            color: aliceblue;
            font-size: 15px;
        }

        .text-relative2{
            position: relative;
            top: 300px;
            right: 100px;
            color: aliceblue;
            font-size: 15px;
        }

        .text-relative3{
            position: relative;
            top: 300px;
            right: 120px;
            color: aliceblue;
            font-size: 15px;
        }

        .text-relative4{
            position: relative;
            top: 300px;
            right: 120px;
            color: aliceblue;
            font-size: 15px;
        }

        .text-relative5{
            position: relative;
            top: 300px;
            right: 120px;
            color: aliceblue;
            font-size: 15px;
        }

        .text-relative6{
            position: relative;
            top: 300px;
            right: 120px;
            color: aliceblue;
            font-size: 15px;
        }

        .photo1{
         width: 350px;
         height: 290px;
         border-radius: 25px;
        }
        .extra-width{
        
        }

        /* Footer section*/

        .footer{
            max-width: 1670;
            margin-top: 130px;
            display:flex ;
            justify-content: space-evenly;
            background-color:rgba(169, 169, 169, 0.205)
        }
        .footer-main-des{
        max-width: 1300px;
            margin: 100px ;
          display: flex;
          align-items: center;
           justify-content: space-around;
        } 
        .footer-des{
            position: relative;
           right: 320px;
        }
        .head-1{
            position: relative;
            left: 40px;
        }
        .head-2{
            position: relative;
            left: 40px;
        }
        .list-1{
            position: relative;
            right: 100px;
        }
        .list-2{
            position: relative;
            left: 100px;
        }
        .none{
            list-style: none;
            margin: 10px;
        }
        
        .final{
            max-width: 2000px;
            text-align: center;
            background-color: black;
            color: aliceblue;
        }
        .final-des{
            padding: 10px;
            align-items: center;
            
            background-color: rgba(169, 169, 169, 0.205);
        }

        .end{
            position: relative;
            left: 700px;
        }
        
       